﻿
@{
    ViewBag.Title = "Index";
}

<hr />
<h1>Bookstore - Home page:</h1>
<hr />
<form method="post" action="/Bookstore/AddBookstore">
    <table border="1">
        <tr><th colspan="2" align="justify">Add new bookstore</th></tr>
        <tr><th align="left"> Name of bookstore:</th><td><input type="text" required name="NameOfBookstore" /></td></tr>

        <tr><th colspan="2" align="right"><input type="submit" value="Add" /></th></tr>

    </table>
</form>
<a href="/Bookstore/List">Show all bookstores </a>



