﻿@using Knjizara3.Models
@model Genre
@{
    ViewBag.Title = "Edit";
}

<hr />
<h1>Edit Genre:</h1>
<hr />
<form method="post" action="/Genre/Edit">
    <table border="1">
        <tr><th colspan="2" align="justify">Change name of genre</th></tr>
        <tr><th align="left"> Name of genre:</th><td><input type="text" required name="NewNameOfGenre" value="@Model.Name" />
        <input type="hidden" required name="IdOfGenre" value="@Model.Id" /></td> </tr>
        <tr><th colspan="2" align="right"><input type="submit" value="Submit" /></th></tr>
    </table>
</form>
<a href="/Book/Index">Homepage</a>

