﻿@using Knjizara3.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Index";
}

<hr />
<h1>Books - Home page:</h1>
<hr />
<form method="post" action="/Book/AddBook">
    <table border="1">
        <tr><th colspan="2" align="justify">Add new book</th></tr>
        <tr><th align="left"> Name of book:</th><td><input type="text" required name="NameOfBook" /></td></tr>
        <tr><th align="left"> Price of book:</th><td><input type="number" required name="PriceOfBook" /></td></tr>
        <tr>
            <th align="left"> Genre of book:</th>
            <td>
                <select name="IdGenreOfBook">
                    @foreach (Genre item in Model)
                    {
                        if (!item.Deleted)
                        {
                        <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
                <a href="/Genre/List">Genres</a>
            </td>
        </tr>
        <tr><th colspan="2" align="right"><input type="submit" value="Add" /></th></tr>

    </table>
</form>
<a href="/Book/List">Show all books </a> |
<a href="/Book/Deleted">Show deleted books</a>
